/* Design by FreeJoomlaTemplates.us */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	background: transparent;
	border: 0;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Layout */
html {
	height: 100%;
}

ul, ol, li {
    list-style: none outside none;
}

body {
	font: normal 12px/1.8em Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #F5F5F5;
}

body {
    color: #333333;
    font-family: "microsoft yahei",simsun,Arial;
    font-size: 12px;
}
body.contentpane {
	
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	/*padding: 10px 0;*/
	font-weight: normal;
	color: #000;
	font-family: simsun,Arial,Helvetica,sans-serif;
}

.componentheading {
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 10px 0;
	color: #000
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4,h5,h6 {
	font-size: 20px;
}

a,a.visited {
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease
}

a:hover {
	color: #000;
	text-decoration: none;
}

ul {
	margin: 0px;
}

p {
	margin-top: 0;
	margin-bottom: 10px;
}

blockquote {
	margin: 5px;
	padding: 5px;
	font-size: 18px;
	font-family: "Ledger", Times, serif;
	font-style: italic
}

element.style {
	height: auto;
}

hr {
	width: 100%;
	clear: both;
	border: none;
	height: 2px;
	background: #eee;
	margin: 0;
	padding: 0;
}

.clr {
	clear: both;
}

.highlight {
	background: #e9ef48
}

#header {
	min-width:1000px;
    background-color: #FFFFFF;
}

#top {
	color: #fff;
	width: 450px;
	padding: 0;
	margin: 0;
	z-index: 1;
	position: absolute;
	top: 20px;
	right: 0;
}

#top a {
	color: #fff;
	text-decoration: underline
}

.sitedescription {
	color: #eee;
	position: absolute;
	top: 75px;
	left: 20px;
	font-size: 15px;
	font-family: 'Ledger', Arial, Helvetica, sans-serif;
	text-transform: uppercase
}

/* Nivo Slider Style */
#slide-w {
	margin: 0 0 10px 0;
	padding: 0;
}

#slide-i {
	width: 960px;
	margin: 0 auto;
}

#slide-w #slider-wrapper {
	margin: 0;
	border: 1px solid #fff;
	box-shadow: 0 2px 3px 0 #D7D7D7
}

#slide-w .nivo-directionNav a {
	background: url(../images/nivo-arrows.png) 0 50% no-repeat;
	display: block;
	width: 46px;
	height: 100%;
	text-indent: -9999px;
	border: 0;
}

#slide-w a.nivo-nextNav {
	background-position: -45px 50%;
	right: 20px;
}

#slide-w a.nivo-prevNav {
	left: 20px;
}

#slide-w .nivo-directionNav a {
	position: absolute;
	top: 0;
	z-index: 9;
	cursor: pointer;
}

#slide-w .nivo-prevNav {
	left: 0px;
}

#slide-w .nivo-nextNav {
	right: 0px;
}

#slide-w .nivo-controlNav {
	position: absolute;
	left: 0px;
	top: 10px;
	bottom: auto;
	margin: 0;
	padding: 5px 5px 3px 5px;
	z-index: 999;
}

#slide-w .nivo-controlNav a {
	width: 19px;
	height: 19px;
	background: url(../images/nivo-bullets.png) 0 0 no-repeat;
	text-indent: -9999px;
	border: 0;
	margin-right: 3px;
	float: none
}

#slide-w .nivo-controlNav a.active {
	background-position: 0 -19px;
}

/* Login Module */
#login-form .login_label {
	
}

#login_input {
	width: 150px;
	float: right
}

#login-form .login_remember {
	float: right;
}

#login-form a {
	display: block;
	text-align: right
}


/* Search Module */
#search {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	height: 61px;
}

#search .inputbox {
	width: 180px;
	height: 26px;
	border: none;
	padding: 0 0 0 10px;
	margin: 15px 0 0 20px;
	color: #333;
	background: #EDEDED;
	border: 1px solid #DCDCDC;
	box-shadow: 0 1px 1px #fff
}

#search .search_button {
	background: url(../images/search-button.png) 0 0 no-repeat;
	width: 25px;
	height: 25px;
	border: none;
	text-indent: -9999em;
	margin: 0 0 0 5px;
	cursor: pointer
}

/* Content */
#main {
	margin: 0 auto;
	padding: 10px 0;
	position: relative;
	background: #F5F5F5
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
	position: relative;
	padding: 0;
}

#main-content {
	clear: both;
	margin: 0 auto;
	padding: 0;
}

#comp_80 {
	width: 610px;
	float: right;
	position: relative;
	padding: 0;
	margin: 0;
}

#comp_100 {
	position: relative;
	padding: 0;
	margin: 0 auto;
}

#comp-i {
	padding: 0;
}

/* Content styles */
#archive {
	padding: 0;
	margin: 0;
}

.archive {
	padding: 0;
}

.archive .article-count {
	color: #999;
}

.blog-featured {
	
}

.items-leading {
	position: relative;
	clear: both;
	margin: 0 0 20px 0;
	padding: 0;
}

.leading {
	margin: 0 0 20px 0;
	position: relative;
}

.items-row {
	position: relative;
	clear: both;
}

.item-separator {
	
}

.item-page {
	position: relative
}

.item-page-title {
	padding: 0 70px 5px 0;
}

.item-page-title,.item-page-title a {
	text-decoration: none;
	font-size: 30px;
	line-height: 30px;
}

.item-page-title a:hover {
	
}

.buttonheading {
	position: absolute;
	top: 5px;
	right: 5px;
}

.buttonheading .edit {
	float: right;
	margin: 0 5px;
}

.buttonheading .print {
	float: right;
	margin: 0 5px;
}

.buttonheading .email {
	float: right;
	margin: 0 5px;
}

.iteminfo {
	font-size: 12px;
	display: block;
	width: 100%;
	color: #999;
	margin: 0;
}

.iteminfo a {
	
}

.iteminfo a:hover {
	
}

.iteminfo .category {
	padding: 0 5px 0 0
}

.iteminfo .sub-category {
	
}

.iteminfo .create {
	
}

.iteminfo .modified {
	
}

.iteminfo .published {
	
}

.iteminfo .createdby {
	font-weight: bold;
}

.items-more {
	clear: both;
}

h3.items-more {
	font-size: 14px;
	padding: 0;
	margin: 0;
}

.items-more ol {
	margin: 0 0 0 30px;
	padding: 0
}

table.category {
	width: 100%
}

/* Article Columns */
.cols-1 {
	width: 100%;
	clear: both;
}

.cols-2 .column-1 {
	width: 49%;
	float: left
}

.cols-2 .column-2 {
	width: 49%;
	float: right;
}

.cols-3 .column-1 {
	width: 32%;
	float: left
}

.cols-3 .column-2 {
	width: 32%;
	margin-left: 1%;
	float: left;
}

.cols-3 .column-3 {
	width: 32%;
	float: right;
}

.cols-4 .column-1 {
	width: 23%;
	float: left
}

.cols-4 .column-2 {
	width: 23%;
	margin-left: 1%;
	float: left;
}

.cols-4 .column-3 {
	width: 23%;
	margin-left: 1%;
	float: left
}

.cols-4 .column-4 {
	width: 23%;
	margin-left: 0;
	float: right
}

.column-1,.column-2,.column-3,.column-4 {
	position: relative;
	margin: 0 0 20px 0
}

/* Contact styles */
th.item-title,th.list-title {
	padding: 5px 2px;
	font-size: 15px;
	text-align: left;
	font-weight: bold
}

th.item-title a,th.list-title a {
	
}

td.item-title,td.list-title {
	text-align: left;
	padding: 3px 2px
}

.contact label {
	width: 100px;
	font-weight: bold;
	float: left
}

.contact input {
	float: left;
}

.contact .jicons-icons {
	float: left;
	padding: 5px 10px 10px 0;
}

.contact h3 {
	font-size: 14px;
	padding: 5px;
}

.contact label {
	width: 200px;
}

.contact input {
	width: 300px;
}

.contact .checkbox input {
	width: 10px;
}

.contact textarea {
	width: 300px;
}

.contact .pane-toggler {
	display: block;
	cursor: pointer
}

.contact .pane-toggler-down {
	display: block;
	cursor: pointer
}

/* Module Spacing */
.spacer .module {
	float: left;
}

.spacer.w99 .module {
	width: 100%;
}

.spacer.w49 .module {
	width: 50%;
}

.spacer.w33 .module {
	width: 33.3%;
}

.spacer.w24 .module {
	width: 24.5%;
}

/* Page Navigation */
.readmore {
	padding: 0;
	margin: 0;
	line-height: 16px;
	font-family: "Ledger", Times, serif;
	text-transform: uppercase
}

.readmore a {
	text-decoration: none;
}

.readmore a:hover {
	
}

ul.pagenav {
	display: block;
}

ul.pagenav li {
	list-style: none;
}

.pagenav-prev {
	float: left;
}

.pagenav-next {
	float: right
}

#pagination {
	clear: both;
	text-align: center;
	padding: 0;
}

.pagination {
	clear: both;
	text-align: center;
	padding: 0;
}

.pagination span,.pagination a {
	background: none;
	padding: 5px;
}

.inputbox,input,textarea,select {
	background: #fff;
	border: 1px solid #d4d4d4;
}

.button,.validate {
	color: #999;
	background: #E4E2E2;
	border: 1px solid #d4d4d4;
	z-index: 999;
	padding: 4px 6px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.button:hover,.validate:hover {
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
}

/* Breadcrumbs */
.breadcrumbs {
	padding: 0;
	margin: 0 0 10px 0;
}

.breadcrumbs a {
	
}

.breadcrumbs .sep {
	background: url(../images/arrow.png) 50% 50% no-repeat;
	padding: 5px
}

/* Sidebar */
#rightbar-w {
	width: 310px;
	float: right;
	margin: 0;
	padding: 0;
}

#leftbar-w {
	width: 310px;
	float: left;
	margin: 0;
	padding: 0;
}

#sidebar {
	padding: 0;
	background: #ececec;
	border: 1px solid #d7d7d7;
	box-shadow: 0 2px 3px 0 #D7D7D7
}

#sidebar .module {
	padding: 5px 10px;
	margin: 0 0 10px 0;
}

#sidebar .module-title {
	font-size: 25px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	color: #000;
	border-bottom: 1px solid #d4d4d4
}

#sidebar h3 {
	
}

#sidebar .module-body {
	margin: 0;
	padding: 10px 0 0 0;
	border-top: 1px solid #fff
}

#sidebar .module-body p {
	padding: 0;
	margin: 0;
}

#sidebar  ul li {
	margin: 0 5px;
	padding: 0;
}

#sidebar  a {
	color: #08528F
}

#sidebar  a:hover {
	color: #000
}

/* Sidebar Menu*/
#sidebar .module ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 0;
	list-style-type: none;
}

#sidebar .module ul.menu li {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #d4d4d4;
}

#sidebar .module ul.menu li a,#sidebar .module ul.menu li.active ul li a,#sidebar .module ul.menu li ul li.active ul li a
	{
	background: url(../images/li1.png) 0 50% no-repeat;
	display: block;
	margin: 0;
	padding: 0 0 0 20px;
	text-decoration: none;
	color: #999;
	font-family: 'Ledger', Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 25px;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#sidebar .module ul.menu li a:hover,#sidebar .module ul.menu li.active a,#sidebar .module ul.menu li ul li a:hover,#sidebar .module ul.menu li ul li.active a,#sidebar .module ul.menu li.active ul li a:hover,#sidebar .module ul.menu li ul li.active ul li.active a
	{
	background-position: 350px 50%;
	background-color: #e4e2e2;
	color: #000;
	text-decoration: none;
}

#sidebar .module ul.menu li.active {
	
}

/* Sidebar SubMenu*/
#sidebar .module ul.menu li ul {
	margin: 0;
	border-top: 1px solid #d4d4d4;
}

#sidebar .module ul.menu li ul li {
	background: none;
	border-bottom: 1px solid #d4d4d4;
	margin: 0 0 0 15px;
}

#sidebar .module ul.menu li ul li.last {
	border-bottom: none;
}

#sidebar .module ul.menu li ul li a {
	
}

#sidebar .module ul.menu li ul li a:hover {
	border: 0;
}

#sidebar .module ul.menu li ul li.active,#sidebar .module ul.menu li.active ul li
	{
	background: none
}

/* Modules 1 - Modules 2 */
#mods1 {
	padding: 0;
	margin: 0 auto;
	clear: both;
}

#mods2 {
	padding: 0;
	margin: 0 auto;
	clear: both;
}

#mods1 .module,#mods2 .module {
	margin: 0;
	padding: 0;
}

/*
#mods1 .inner,#mods2 .inner {
	padding: 8px;
	background-color: #FFFFFF;
    border: 1px solid #DFDFE1;
    margin-top: 20px;
}
*/

.h3c{
		
}

#mods1 .module-title,#mods2 .module-title {
	padding: 0;
	display: block;
    width: 132px;
    /*border-bottom: 2px solid #26A3F3;*/
    color: #000000;
    font-family: "microsoft yahei",simsun,Arial;
    font-size: 18px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
}

#mods1 .module-body,#mods2 .module-body {
	padding: 0;
	margin: 0;
}

#mods1 a,#mods2 a {
	
}

#mods1 a:hover,#mods2 a:hover {
	
}

#mods1 ul li:hover,#mods2 ul li:hover {
	
}

#mods1 ul li a:hover,#mods2 ul li a:hover {
	
}

/* Modules 3 */
#mods3 {
	overflow: hidden;
	padding: 0 10px;
	margin: 0;
	clear: both;
	color: #fff;
}

#mods3 .module {
	padding: 0;
	margin: 0;
}

#mods3 .inner {
	padding: 5px 10px 0 10px;
}

#mods3 .module-title {
	margin: 10px 0 0 0;
	padding: 0 0 5px 0;
	display: block;
	height: 25px;
	font-size: 25px;
	color: #fff;
	border-bottom: 1px solid #03437A
}

#mods3 .module-body {
	padding: 5px 0 0 0;
	margin: 0;
	border-top: 1px solid #0b5ba0
}

#mods3 ul {
	margin: 0 10px;
	padding: 0;
}

#mods3 ul li {
	border-bottom: 1px solid #0b5ba0;
	list-style: none;
}

#mods3 ul li a {
	
}

#mods3 a {
	
}

#mods3 a:hover {
	color: #fff
}

#mods3 ul li:hover {
	
}

#mods3 ul li a {
	display: block;
	padding: 0 0 0 20px;
	background: url(../images/dot2.png) 0 50% no-repeat;
	text-decoration: none;
}

#mods3 ul li a:hover {
	
}

/* Footer */
#bottom-w {
	padding: 0;
	margin: 0;
	background: #084C87
}

#bottom {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

#footer {
	margin: 0;
	padding: 0;
}

#footer-i {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

.copy {
	margin: 0;
	padding: 10px 0 0 10px;
	font-size: 12px;
	float: left;
	color: #fff
}

.copy a {
	font-size: 12px;
	color: #fff
}

.copy a:hover {
	color: #ffb400
}

.designpro {
	margin: 0;
	padding: 10px 10px 10px 0;
	font-size: 11px;
	color: #055295;
	text-align: right;
	float: right
}

.designpro a {
	text-decoration: none;
	font-size: 11px;
	color: #055295
}

/* System Messages */
#system-message {
	margin: 0;
	padding: 0;
}

#system-message dt {
	font-weight: bold;
}

#system-message dd {
	margin: 0;
	font-weight: bold;
	text-indent: 30px;
}

#system-message dd ul {
	color: #0055BB;
	margin: 0;
	list-style: none;
	padding: 10px;
	border-top: 3px solid #84A7DB;
	border-bottom: 3px solid #84A7DB;
}

/* System Standard Messages */
#system-message dt.message {
	display: none;
}

#system-message dd.message {
	
}

/* System Error Messages */
#system-message dt.error {
	display: none;
}

#system-message dd.error ul {
	color: #c00;
	background-color: #E6C0C0;
	border-top: 3px solid #DE7A7B;
	border-bottom: 3px solid #DE7A7B;
}

/* System Notice Messages */
#system-message dt.notice {
	display: none;
}

#system-message dd.notice ul {
	color: #c00;
	background: #EFE7B8;
	border-top: 3px solid #F0DC7E;
	border-bottom: 3px solid #F0DC7E;
}

/* Debug */
#system-debug {
	color: #ccc;
	background-color: #fff;
	padding: 10px;
	margin: 10px;
}

#system-debug div {
	font-size: 11px;
}

#error {
	padding: 20px;
}

#error  .error {
	color: #FF0000;
	background: #fff;
	display: block;
	padding: 10px;
}

/* Tooltips */
.tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tip-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
}

.tip-text {
	font-size: 100%;
	margin: 0;
}

#topcontrol {
	background: #03437A url(../images/arrow_up.png) 50% 50% no-repeat;
	padding: 7px;
	border: 1px solid #F0F5F9;
	width: 20px;
	height: 20px;
	white-space: nowrap;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity: 0.7;
	filter: progid : DXImageTransform.Microsoft.Alpha ( opacity = 70 );
	bottom: 20px;
	right: 20px;
}

.follow-num{
	color: #666666;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;	
}
.btn-link{
	background-color: #25A3F2;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;	
}
.other{
	height: 30px;
    overflow: hidden;
    position: relative;
    text-align: right;
    z-index: 2;	
}

.btn-link:hover{
	background-color: #ff3366;
}

.items-list{
	margin-bottom: 7px;
	display: block;
}

.pg-imgbg h3{
	clear: both;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    margin-bottom: 3px;
}

.pg-imgbg h3 a{
	color: #666666;	
}

.sectionWrap{
	font-family: simsun,Arial,Helvetica,sans-serif;
    line-height: 1.5;
    margin-top: 15px;
    width: 100%;	
}

.sectionWrap .hdTitle {
    border-bottom: 2px solid #26A3F3;
    color: #000000;
    font-family: "microsoft yahei",simsun,Arial;
    font-size: 18px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
}

.sectionWrap .hdTitle span {
    color: #25A3F2;
}

.sectionWrap .cate-nav-list {
    height: 20px;
    margin: -26px 0 7px 185px;
    position: relative;
    z-index: 2;
}

.sectionWrap .cate-nav-list li {
    display: inline;
    float: left;
    line-height: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.sectionWrap .cate-nav-list a {
    color: #666666;
}
.waterSupposed_head .cate-nav-list_winds {
    margin: -24px 0 7px 145px;
    height: 20px;
    position: relative;
    z-index: 2;
    width:337px;
}

.waterSupposed_head .cate-nav-list_winds li {
    display: inline;
    float: left;
    line-height: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.waterSupposed_head .cate-nav-list_winds a {
    color: #666666;
}

.waterSupposed_head {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-bottom:0px;
    display: inline;
    float: left;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width: 475px;
    margin-top: 15px;
}

.waterSupposed_head .hdTitle {
    border-bottom: 0 none;
    width: 132px;
    color: #000000;
    font-family: "microsoft yahei",simsun,Arial;
    font-size: 18px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
}

.newsflash_winds{
	background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-top:0px;
    display: inline;
    float: left;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width: 475px;
}

.waterSupposed_body {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-top:0px;
    display: inline;
    float: left;
    overflow: hidden;
    padding: 8px;
    position: relative;
    width: 475px;
}

.waterSupposed_body dl {
    margin-top: 9px;
    overflow: hidden;
    width: 100%;
}

.waterSupposed_body dt {
    display: inline;
    float: left;
    height: 104px;
    margin-right: -144px;
    width: 134px;
}

.waterSupposed_body dd {
    margin-left: 144px;
}

.waterSupposed_body dd h3 {
    color: #FDBC43;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    margin: 0 5px;
}

.waterSupposed_body dd h3 a {
    color: #FDBC43 !important;
}

.waterSupposed_body dd .desc {
    height: 66px;
    line-height: 22px;
}

#header #user {
    background: url("../images/dot01.gif?20120701153345") repeat-x scroll center bottom #F5F5F5;
    height: 26px;
}
#header #user #user_body {
    margin: 0 auto;
    width: 1000px;
}

#header #user #user_body .column {
    border-left: 1px solid #CCCCCC;
    float: left;
    height: 26px;
    width: 430px;
}

#header #user #user_body .user_inf {
    float: right;
    width: 560px;
}

#header #user #user_body .column li {
    border-right: 1px solid #CCCCCC;
    float: left;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 60px;
}

#header #user #user_body .column li a {
    color: #333333;
}

#header #user #user_body .user_inf li {
    float: left;
    line-height: 25px;
}

#header #user #user_body .user_inf li.welcome {
    height: 25px;
    text-align: right;
    width: 270px;
}

#header #user #user_body .user_inf li.line {
    color: #DDDDDD;
    text-align: center;
    width: 20px;
}

#header #user #user_body .user_inf li.myRedStar {
    height: 25px;
    position: relative;
    text-align: center;
    width: 70px;
}

#header #user #user_body .user_inf li.help {
    width: 170px;
}

#header #user #user_body .user_inf li.myRedStar a {
    color: #333333;
    display: inline-block;
    position: relative;
    z-index: 2;
}

#header #user #user_body .user_inf li.help b {
    background: url("../images/tel_bg.jpg?20120701153345") no-repeat scroll left center transparent;
    color: red;
    padding-left: 24px;
}

#header #user #user_body .user_inf li.myRedStar a.drop {
    background: url("../images/dot10.gif?20120701153345") no-repeat scroll right center transparent;
    padding-right: 10px;
}

#header #logo_search {
	background: url("../images/header_bg.jpg??20120705113928") no-repeat scroll right top #FFFFFF;
    margin: 0 auto;
    width: 1000px;
}

#header #logo_search .logo {
    float: left;
    font-size: 0;
    height: 90px;
    vertical-align: top;
    width: 200px;
}

#header #logo_search .sampleRoom {
    background-image: url("../images/sample_room.png?20120701161822");
    display: inline;
    float: left;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
    width: 160px;
}

#header #logo_search .search {
	display:none;
    float: right;
    margin-top: 20px;
    width: 564px;
}

#header #logo_search .search .search_body {
    background: url("../images/search_bg.png?20120701162912") no-repeat scroll 0 0 transparent;
    height: 32px;
    padding-top: 2px;
    width: 564px;
}

#header #logo_search .search .key_word {
    display: inline;
    float: left;
    height: 30px;
    position: relative;
    width: 85px;
}

#header #logo_search .search .key_word b {
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 85px;
}

#header #logo_search .search .key_word ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #2FA7F3;
    border-left: 2px solid #2FA7F3;
    border-right: 2px solid #2FA7F3;
    border-style: none solid;
    border-width: 0 2px;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 81px;
}

#header #logo_search .search .key_word ul li {
    height: 32px;
}

#header #logo_search .search .text {
    display: inline;
    float: left;
    margin-left: 1px;
    width: 380px;
}

#header #logo_search .search .text {
    display: inline;
    float: left;
    margin-left: 1px;
    width: 380px;
}

#header #logo_search .search .text input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #999999;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    margin: 5px 0 0 5px;
    width: 370px;
}

#header #logo_search .search .btn {
    display: inline;
    float: left;
    height: 30px;
    margin-left: 3px;
    width: 93px;
}

#header #logo_search .search .btn input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: 30px;
    width: 93px;
}

#header #logo_search .search .hot_link {
    padding-top: 5px;
}

#header #logo_search .search .hot_link a {
    color: #666666;
    margin-left: 20px;
}

#header #nav {
    background: none repeat scroll 0 0 #25A3F2;
    border-bottom: 2px solid #DFDFE1;
    border-top: 1px solid #F5F6F7;
    height: 38px;
}
#header #nav #nav_body {
    height: 38px;
    margin: 0 auto;
    width: 1000px;
}
#header #nav #nav_body #n_list li {
    float: left;
    position: relative;
    text-align: center;
    width: 145px;
    z-index: 1;
}

#header #nav #nav_body #n_list li {
    float: left;
    position: relative;
    text-align: center;
    width: 145px;
    z-index: 1;
}

#header #nav #nav_body #n_list li a {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
}

#header #nav #nav_body #n_list li .vline {
    border-left: 1px solid #255175;
    border-right: 1px solid #43B6F9;
    height: 22px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 8px;
    width: 0;
}

#header #nav #nav_body #n_list li.this {
    background: none repeat scroll 0 0 #FF3366;
    left: -2px;
    padding-left: 2px;
    z-index: 2;
}

#header #nav #nav_body #n_list li.this .vline {
    visibility: hidden;
}

#header #nav #nav_body #n_list li.logo img {
    vertical-align: top;
}

#header #nav #nav_body #n_list li.logo {
    float: right;
    display: none;
}

#header #nav #nav_body #n_list li a:hover {
    color: #D3EDFC;
    text-decoration: none;
}

#header #user #user_body .column li.this {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
